<!--<a class="close-icon-bar-circle" style="cursor:pointer;z-index:200">&times;</a>-->
<a class="boxclose" id="boxclose"></a>
<div id="toolbar-container" style="margin:0px 10px 10px 10px;max-width:100vw;">

  <div id="selectpicker-wrapper" class="row-fluid" style="margin:8px 0px 0px 0px;">
    <select class="col-md-3 col-sm-3 col-xs-3 text-edit-font selectpicker" id="font-selector" data-type="font-family" data-style="btn">
      <option class="lvfont" title="Font">Lavanderia</option>
      <option class="cafont" title="Font">Carried Away</option>
      <option class="ddfont" title="Font">Daydreamer</option>
      <option class="ppfont" title="Font">Peach And Pistachio</option>
      <option class="ssfont" title="Font">Smoothy Script</option>
      <option class="gdfont" title="Font">Grounday</option>
    </select>

    <select class="col-md-3 col-sm-3 col-xs-3 text-edit-fontsize selectpicker" id="size-selector" data-type="font-size" data-style="btn">
      <option title="Size">Normal</option>
      <option title="Size">Large</option>
      <option title="Size">Huge</option>
    </select>

    <select class="col-md-3 col-sm-3 col-xs-3 text-edit-fontcolor selectpicker" id="color-selector" data-type="color" data-style="btn">
      <option data-icon="fas fa-circle" style="color:#000" value="#000" title="Color"></option>
      <option data-icon="far fa-circle" style="color:#000" value="#FFF" title="Color"></option>
      <option data-icon="fas fa-circle" style="color:#DB1F4F" value="#DB1F4F" title="Color"></option>
      <option data-icon="fas fa-circle" style="color:#FF0048" value="#FF0048" title="Color"></option>
      <option data-icon="fas fa-circle" style="color:#1BB0CE" value="#1BB0CE" title="Color"></option>
      <option data-icon="fas fa-circle" style="color:#FFCA1B" value="#FFCA1B" title="Color"></option>
      <option data-icon="fas fa-circle" style="color:#663300" value="#663300" title="Color"></option>
      <option data-icon="fas fa-circle" style="color:#228DFF" value="#228DFF" title="Color"></option>
      <option data-icon="fas fa-circle" style="color:#AA0078" value="#AA0078" title="Color"></option>
    </select>

    <select class="col-md-3 col-sm-3 col-xs-3 text-edit-align selectpicker" id="align-selector" data-type="text-align" data-style="btn">
      <option data-icon="fa fa-align-left" value="left" data-name="left" title="Align"><i class="fa fa-align-left"></i></option>
      <option data-icon="fa fa-align-center" value="center" data-name="center" title="Align"><i class="fa fa-align-center"></i></option>
      <option data-icon="fa fa-align-right" value="right" data-name="right" title="Align"><i class="fa fa-align-right"></i></option>
    </select>
  </div>
  <!--<div class="row-fluid">
    <div style="width:36%;float:left;">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default text-edit-align active" data-value="left" title="Align Left">
          <input type="radio" name="options"><i class="fa fa-align-left"></i>
        </label>
        <label class="btn btn-default text-edit-align" data-value="center" title="Align Center">
          <input type="radio" name="options"><i class="fa fa-align-center"></i>
        </label>
        <label class="btn btn-default text-edit-align" data-value="right" title="Align Right">
          <input type="radio" name="options"><i class="fa fa-align-right"></i>
        </label>
      </div>
    </div>
    <div style="width:24%;float:left;">
        <button type="button" class="btn btn-default" id="clear-btn" style="text-align:center;width:100%">CLEAR</button>
    </div>
  </div>-->

  <div class="d-flex justify-content-between" style="margin:10px 0px 0px 0px;max-width:100vw;">
    <!--<button type="button" class="btn btn-outline-theme btn-sm" id="inspire-me-btn"><img  src="/assets/bulb-idea.svg" style="width:17%"/>&nbsp;Ideas</button>-->
    <button type="button" class="btn btn-outline-theme btn-sm" data-toggle="modal" data-target="#ideasModal">Ideas</button>
    <button type="button" class="btn btn-outline-theme btn-sm" id="clear-btn" data-confirm="Clearing would erase the entire text. Are you sure?">Clear</button>
    <button type="button" class="btn btn-outline-theme btn-sm" id="done-btn">&nbsp;Done&nbsp;</button>
  </div>
</div>