<% self.title = 'About Us' %>

<div class="col-md-12 col-sm-12 col-xs-12">
	<h3>About Us</h3>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="col-md-4">
		<p> We thank and appreciate your gesture to know more about us.</p>

		<p> They say, its a small world - Thanks to advancements in communication. But few things are 
		at their best as created by nature.</p>
		<p>Hugging the little kid every now and then, encouraging 
		them even on smaller achievements, rushing to nearest doctor even on minor bruises - Its 
		all about you, your love and care - your LOVE stands apart and nobody can replace that. </p>
	</div>
	<div class="col-md-4">
		<p> All of us have had and continue to have great times with our dear ones. Those moments are 
		very special and close to our heart. There are times when we are away or wish to express our 
		feelings precisely, those expressions need to be apt and unique just like our feelings.</p>

		<p>Team at Mangotwins believes personalized wishes help express emotions more than anything else.
		Let it be bigger occasions and celebrations or as small as your kid performing on stage the 
		very first time. Human heart is home to millions of feelings and true - these are the feelings 
		that make a human heart beat with love, affection and care.</p>
	</div>
	<div class="col-md-4">
		<p>Mangotwins is committed to provide unmatched options to express your feelings in a truly
		personalized way. We are improving with time and continuously adding more and more cards 
		and categories to the store to keep freshness and variety as our key driving attributes.</p>

		<p>Mangotwins experience doesn't end up with purchasing cards on the store. We dont measure 
		our accomplishments only by our sales rather we strive to bring smiles onto your dear ones'
		faces. Its a great feeling to be around with loved ones and we just aim that you always are.</p>
	</div>
<br>
</div>


