<section data-parallax="scroll" data-image-src="img/photo/erii-gutierrez-487083-unsplash.jpg" data-speed="0.3" data-position-x="right" class="position-relative dark-overlay py-3 py-lg-7 overflow-hidden">
  <div class="container overlay-content hero hero-page">
    <ul class="breadcrumb justify-content-center no-border mb-0">
      <li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
      <li class="breadcrumb-item text-white active">Ladies</li>
    </ul>
    <div class="hero-content pb-5 text-center text-white">
      <h1 class="hero-heading">Ladies</h1><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</section>
<div class="container mt-5">
  <div class="row">
    <!-- Grid -->
    <div class="products-grid col-12">
      <div class="row">
        <!-- product-->
        <div class="col-xl-3 col-md-3 col-sm-6 col-6">
          <div class="product">
            <div class="product-image">
              <div class="ribbon ribbon-info">Fresh</div><img src="img/product/serrah-galos-494312-unsplash.jpg" alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="#" class="btn btn-outline-dark btn-product-left"><i class="fa fa-shopping-cart"></i></a><a href="detail.html" class="btn btn-dark btn-buy"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a><a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark btn-product-right"><i class="fa fa-expand-arrows-alt"></i></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Jackets</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">White Tee</a></h3><span class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>