<% self.title = 'Cancellation & Refunds' %>

<div class="col-md-12 col-sm-12 col-xs-12">	
	<h3>Cancellation and Refunds Policy</h3>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
	<p>
		Mangotwins believes in helping its customers as far as possible, and has therefore a well-defined cancellation policy. Under this policy you will find the details about cancellation and refunds:
		<ul>
			<li>Every Greeting Card is a customized product and once it has been printed the order can not be cancelled and no refunds shall be made. If the card is yet to be processed/printed, it will be cancelled and a complete refund will be credited back to the user. The shipment can be stopped only if the greeting card has not been dispatched by then. Cancellations can be requested through sending an email at <a title="Email" class="mailobfs"><i class="icon-envelope"></i>&nbsp;</a> mentioning the details of your order.
			</li>
			<li>Every Greeting Card is a customized product and once it has been received by the recepient it can not be returned back to Mangotwins asking for a refund. 
				No refunds can be made for the cards that have reached the recepients.
			</li>
			<li>
				While Mangotwins makes every effort to make the cards reach on time using premium courier/postal services, remote locations within India might see unforeseen delays and if the card does not reach within 15 business days from the date of dispatch, users stand eligible to get the complete refund. Mangotwins will not initiate any measure to stop the delivery of the delayed card and it might still reach the recepient after 15 business days.
			</li>
			<li>No cancellations are entertained for those products that the Mangotwins marketing team has obtained on special occasions like Diwali, Valentine’s Day etc. These are limited occasion offers and therefore cancellations are not possible.
			</li>
			<li>Different monitors/displays render quality and resolution of images differently. A printed card can vary slightly in color and appearance and might not look exactly the same as that on the display. No refund requests will be entertained for such reasons.
			</li>

		</ul>
	</p>
</div>
