<% self.title = 'Disclaimer' %>

<div class="col-md-12 col-sm-12 col-xs-12">	
	<h3>Disclaimer</h3>
</div>	
<div class="col-md-12 col-sm-12 col-xs-12">
	<p>
	The information contained in this website is for general information purposes only. The information is provided by Mangotwins Expressions E-Commerce LLP and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
	In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website or the products offered on this website.<br><br>
	Through this website you are able to link to other websites which are not under the control of Mangotwins. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorsement of the views expressed within them.
	Every effort is made to keep the website up and running smoothly. However, Mangotwins takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.<br><br>
	Most of the Cards are shipped with a small complimentary gift. Mangotwins takes no reposibility if the recipient does not like the gift. Any request to replace or change the gift will not be accommodated. 
	All the orders are shipped through registered domestic courier companies and /or speed post only. Orders are dispatched a maximum of within 2 working days or as per the delivery date agreed at the time of order confirmation. Delivery of the shipment is subject to Courier Company / post office norms. Mangotwins is not liable for any delay in delivery by the courier company / postal authorities and only guarantees to hand over the consignment to the courier company or postal authorities within 5 working days under normal circumstances from the date of the order completion or as per the delivery date agreed at the time of order confirmation. Order will be delivered to the shipping address as mentioned by the buyer at time of purchase. Mangotwins is in no way responsible for any damage to the order while in transit to the buyer.
	</p>
</div>
