<% self.title = 'How it Works' %>

<div class="col-md-12 col-sm-12 col-xs-12">
	<h3>How It Works</h3>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
	<p>
	Sending love to loved ones has never been easier. A personalized wish is still the best form to convey that your 
	dear ones matter a lot to you.
	<br>
	While we still cant replace big hugs and passionate kisses, expressions by mangotwins are probably the next best match. Express your 
	heart the way you want in 3 simple steps:
	</p>

	<ol>
	<li>Pick - Select a card(s) of your choice. Move onto the personalization page.</li>
	<li>Personalize - Every card has got customizable content. Let your heart edit.</li>
	<li>Post - Complete the order. The card gets submitted to the order list. Thats it.</li>
	</ol>
	<p>
	You can check the status of your order anytime from the 'My Account' section. For any additional queries, please get in touch with us at support@mangotwins.com.<br><br>Relax and be prepared to listen a heartfelt 
	acknowledgement from your dear ones. 
	</p>
</div>
