<% @body_id = 'home-page' %>
<!-- Hero Section-->
<section class="home-full-slider-wrapper mb-10px">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme owl-dots-modern home-full-slider">
    <div style="background: #f8d5cf;" class="item home-full-item"><!--<img src="/assets/photo/matheus-ferrero-334418-unsplash.jpg" alt="" class="bg-image">--><img src="/assets/photo/slider-5.png" alt="" class="bg-image">
      <div class="container-fluid h-100 pt-6">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 col-xl-6 mx-auto text-white text-center">
            <!--<h5 class="text-uppercase text-white font-weight-light mb-4 letter-spacing-5"> Just arrived</h5>-->
            <h1 class="mb-3 display-2 font-weight-bold text-serif text-shadow-3">Birthday</h1>
            <span class="lead mb-4 px-4 pt-1 pb-2 br-5px bg-white text-black">Make a wonderful occasion Memorable.</span><br>
            <p class="mt-4"> <a href="category.html" class="btn btn-light">View Cards</a></p>
          </div>
          <div class="col-lg-6 col-xl-6 mx-auto text-white text-center">
          </div>
        </div>
      </div>
    </div>
    <!--<div class="item home-full-item bg-dark dark-overlay"><img src="/assets/photo/ian-dooley-347942-unsplash.jpg" alt="" class="bg-image">-->
    <div class="item home-full-item bg-dark"><img src="/assets/photo/slider-21.png" alt="" class="bg-image">
      <div class="container-fluid h-100 pt-6">
        <div class="row align-items-center h-100">
          <div class="col-lg-6 col-xl-6 mx-auto text-white text-center overlay-content">
            <h1 class="mb-3 ml-5 display-4 text-uppercase font-weight-bold text-shadow">Anniversary</h1>
            <span class="lead mb-4 px-4 pt-1 pb-2 br-5px bg-white text-black">Not just another Date, Create a Story.</span>
            <p class="mt-4"> <a href="category.html" class="btn btn-light">View Cards</a></p>
          </div>
          <div class="col-lg-6 col-xl-6 mx-auto text-white text-center">
          </div>
        </div>
      </div>
    </div>
    <!--<div class="item home-full-item"><img src="/assets/photo/haley-phelps-62815-unsplash.jpg" alt="" class="bg-image">-->
    <div class="item home-full-item"><img src="/assets/photo/slider-4.png" alt="" class="bg-image">
      <div class="container-fluid h-100">
        <div class="row align-items-center">
          <div class="col-lg-4 col-xl-4 mx-auto text-white text-center">
          </div>
          <div class="col-lg-6 col-xl-6 mx-auto text-white text-center">
            <!--<h5 class="text-uppercase font-weight-light mb-4 letter-spacing-5"> Our bestseller</h5>-->
            <h1 class="mb-3 mt-4 display-4 text-uppercase font-weight-bold text-shadow-l3">Parents</h1>
            <span class="lead mb-4 px-4 pt-1 pb-2 br-5px bg-white text-black">From First Friend to Best Friend.</span>
            <p class="mt-4"> <a href="category.html" class="btn btn-light">View Cards</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid px-5px py-5" id="how-it-works">
    <div class="row mx-0">
      <div class="col-12 mb-10px px-5px text-center">
        <h4 class="mb-5 ml-5 text-uppercase font-weight-bold">HOW IT WORKS</h4>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-lg-4 mb-10px px-5px text-center">
        <div class="border-0 text-center text-white"><!--<img src="/assets/photo/benjamin-voros-260869-unsplash.jpg" alt="Card image" class="card-img">-->
          <img src="/assets/photo/hiw-1.png" alt="Card image">
          <!--<div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <h2 class="display-4 mb-4">Personalize</h2><a href="category.html" class="btn btn-link text-white">Shop now <i class="fa-arrow-right fa ml-2"></i></a>
            </div>
          </div>-->
        </div>
        <!--<p class="px-5">Personalize a Card with Sweet Photos and Messages.</p>-->
      </div>
      <div class="col-lg-4 mb-10px px-5px text-center">
        <div class="border-0 text-center text-white"><!--<img src="/assets/photo/malvestida-magazine-458585-unsplash.jpg" alt="Card image" class="card-img">-->
          <img src="/assets/photo/hiw-2.png" alt="Card image">
          <!--<div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <h2 class="display-4 mb-4">Place Order</h2><a href="category.html" class="btn btn-link text-white">Shop now <i class="fa-arrow-right fa ml-2"></i></a>
            </div>
          </div>-->
        </div>
        <!--<p class="px-5">Proceed with Checkout. Place your Order.</p>-->
      </div>
      <div class="col-lg-4 mb-10px px-5px text-center">
        <div class="border-0 text-center text-dark"><!--<img src="/assets/photo/michael-frattaroli-221247-unsplash.jpg" alt="Card image" class="card-img">-->
          <img src="/assets/photo/hiw-3.png" alt="Card image">
          <!--<div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <h2 class="display-4 mb-4">Delivered</h2><a href="category.html" class="btn btn-link text-dark">Shop now <i class="fa-arrow-right fa ml-2"></i></a>
            </div>
          </div>-->
        </div>
        <!--<p class="px-5">We print the card and get it delivered.</p>-->
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid px-5px">
    <!--<div class="row mx-0">
      <div class="col-md-6 mb-10px px-5px">
        <div class="card border-0 text-white text-center"><img src="/assets/photo/christopher-campbell-28571-unsplash.jpg" alt="Card image" class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100 py-3">
              <h2 class="display-3 font-weight-bold mb-4">Top picks</h2><a href="category.html" class="btn btn-light">Shop now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-10px px-5px">
        <div class="card border-0 text-white text-center"><img src="/assets/photo/marco-xu-496929-unsplash.jpg" alt="Card image" class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100 py-3">
              <h2 class="display-3 font-weight-bold mb-4">New arrivals</h2><a href="category.html" class="btn btn-light">Shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div class="row mx-0 p-5 mb-5 bg-gray-100">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-3 mb-10px px-5px">
        <div class="card border-0 text-center text-white"><img src="/assets/photo/benjamin-voros-260869-unsplash.jpg" alt="Card image" class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <a href="category.html" class="btn text-white"><h2 class="display-5 text-capitalize font-weight-bold">Showcase</h2></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-3 mb-10px px-5px">
        <div class="card border-0 text-center text-white"><img src="/assets/photo/malvestida-magazine-458585-unsplash.jpg" alt="Card image" class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <a href="category.html" class="btn btn-link text-white"><h2 class="display-5 text-capitalize font-weight-bold">What to write? Inspire Me.</h2></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <!--<div class="row mx-0">
      <div class="col-lg-4 mb-10px px-5px">
        <div class="card border-0 text-center text-white"><img src="/assets/photo/benjamin-voros-260869-unsplash.jpg" alt="Card image" class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <h2 class="display-4 mb-4">Jackets</h2><a href="category.html" class="btn btn-link text-white">Shop now <i class="fa-arrow-right fa ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-10px px-5px">
        <div class="card border-0 text-center text-white"><img src="/assets/photo/malvestida-magazine-458585-unsplash.jpg" alt="Card image" class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <h2 class="display-4 mb-4">Lookbook</h2><a href="category.html" class="btn btn-link text-white">Shop now <i class="fa-arrow-right fa ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-10px px-5px">
        <div class="card border-0 text-center text-dark"><img src="/assets/photo/michael-frattaroli-221247-unsplash.jpg" alt="Card image" class="card-img">
          <div class="card-img-overlay d-flex align-items-center">
            <div class="w-100">
              <h2 class="display-4 mb-4">Try this</h2><a href="category.html" class="btn btn-link text-dark">Shop now <i class="fa-arrow-right fa ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</section>

<div id="scrollTop"><i class="fa fa-long-arrow-alt-up"></i></div>
<!-- JavaScript files-->
<script>
  // ------------------------------------------------------- //
  //   Inject SVG Sprite -
  //   see more here
  //   https://css-tricks.com/ajaxing-svg-sprite/
  // ------------------------------------------------------ //
  //function injectSvgSprite(path) {
  //
  //    var ajax = new XMLHttpRequest();
  //    ajax.open("GET", path, true);
  //    ajax.send();
  //    ajax.onload = function(e) {
  //    var div = document.createElement("div");
  //    div.className = 'd-none';
  //    div.innerHTML = ajax.responseText;
  //    document.body.insertBefore(div, document.body.childNodes[0]);
  //    }
  //}
  // this is set to Bootstrapious website as you cannot
  // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
  // while using file:// protocol
  // pls don't forget to change to your domain :)
  //injectSvgSprite('<%=spree.root_path%>/assets/orion-svg-sprite.svg');
  
</script>
<!-- jQuery-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!-- Bootstrap JavaScript Bundle (Popper.js included)-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- Owl Carousel-->
<!--<script src="vendor/owl.carousel/owl.carousel.js"></script>-->
<!--<script src="vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>-->
<!-- NoUI Slider (price slider)-->
<!--<script src="vendor/nouislider/nouislider.min.js"></script>-->
<!-- Smooth scrolling-->
<!--<script src="vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>-->
<!-- Lightbox -->
<!--<script src="vendor/ekko-lightbox/ekko-lightbox.min.js"></script>-->
<!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
<!--<script src="vendor/object-fit-images/ofi.min.js"></script>-->
<script>
  var basePath = ''
  
</script>
<!--<script src="js/theme.js"></script>-->
