<% self.title = 'Payment' %>
<div class="col-12">
	<h3>Payment</h3>
</div>

<div class="accordion my-5" id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn text-muted" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What payment methods do you accept?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        We have partnered with Razorpay to provide fast, easy and efficient secure payments. All major Credit/Debit/Cash cards issued in India are accepted.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn text-muted collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Is it safe to shop online using my Debit card or Credit Card?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Your online transaction on Mangotwins is secure with the best levels of transaction security. All credit card and debit card payments on Mangotwins are processed through secure and trusted payment gateways. Mangotwins does not store any card specfic information with it. Banks now use the 3D Secure password service for online transactions, providing an additional layer of security through identity verification.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn text-muted collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What should I do if my payment fails?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <ul><li>In case of a payment failure, please retry ensuring:
						Information passed on to payment gateway is accurate i.e. account details, billing address, password (for net banking) Your Internet connection is not disrupted in the process.</li>
					<li>If your account has been debited after a payment failure, it is normally rolled back to your bank account within 7 business days. You can email us on support@mangotwins.com or please give us a call with your order number for any clarification.</li>
				</ul>
      </div>
    </div>
  </div>
	<div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn text-muted collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Do you accept International Cards?
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Not right now, but it will be available soon. We are in the process of extending payment options to international card holders as well.
      </div>
    </div>
  </div>
	<div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn text-muted collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Can I make payment through my mobile wallet/UPI?
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        The payment gateway Razorpay provides many wallet and UPI options that you should be able to use while making purchases on the website.
      </div>
    </div>
  </div>
	<div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn text-muted collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          How can I get support?
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        In case any assistance is needed, please feel free to write us at <a title="Email" class="mailobfs">&nbsp;</a>
      </div>
    </div>
  </div>
</div>