<% self.title = 'Shipment & Delivery' %>

<div class="col-md-12 col-sm-12 col-xs-12">	
	<h3>Shipping and Delivery</h3>
</div>	
<div class="spacer-bottom-sm col-md-9 col-xs-9">
	<div class="panel-group" id="accordion">
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
				  <i class="fa fa-angle-right"></i>	Can I use Mangotwins to ship cards outside India?
				</a>
			  </h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in" style="height: auto;">
			  <div class="panel-body">
				No. As of now, delivery of cards is confined to addresses within India only.
			  </div>
			</div>
		</div>
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				  <i class="fa fa-angle-right"></i>	Are there any shipping charges?
				</a>
			  </h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
			  <div class="panel-body">
				No. All the cards purchased at Mangotwins come with complementary shipment at no extra cost. 
			  </div>
			</div>
		</div>
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				  <i class="fa fa-angle-right"></i>	What is the difference between Shipping Date/Time and Delivery Date/Time? 
				</a>
			  </h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
			  <div class="panel-body">
				Shipping Date/Time is the date/time by when the product will be shipped and handed over to fulfilment(Courier) services. Delivery date/Time is the estimated date/time by when the product shall be delivered to the recipient under normal circumstances. 											  
			  </div>
			</div>
		</div>
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
				  <i class="fa fa-angle-right"></i>	What is the estimated delivery time? 
				</a>
			  </h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
			  <div class="panel-body">
				Mangotwins tries to process and ship the cards at the earliest as per the shipping date selected by the buyer. All the cards are shipped from our Bangalore facility. Destination Address location is a major factor that primarily decides the delivery time. In general, cards tend to reach the recipients within 2-6 business days but remote/certain locations might take longer at times. 												  
			  </div>
			</div>
		</div>
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
				  <i class="fa fa-angle-right"></i>	How do I track the shipment?
				</a>
			  </h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
			  <div class="panel-body">
				Once order is shipped, buyer will receive all the relevant tracking details through which courier movement can be tracked.
			  </div>
			</div>
		</div>
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
				  <i class="fa fa-angle-right"></i>	Can I the schedule the card shipment in advance?
				</a>
			  </h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse">
			  <div class="panel-body">
				Yes. Once you have added the customized product in the cart, you can click on "Schedule future Shipping" link present in the same row and select a date upto 4 months in advance. Once the shipping date arrives, card order will be processed and shipped to the recipient.
			  </div>
			</div>
		</div>
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
				  <i class="fa fa-angle-right"></i>	Is there a premium delivery option? Can I pay more and get the card tomorrow?
				</a>
			  </h4>
			</div>
			<div id="collapseSeven" class="panel-collapse collapse">
			  <div class="panel-body">
				There is no premium service available as of now. We are working to add more options. 
			  </div>
			</div>
		</div>
		<!--panel-->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
				  <i class="fa fa-angle-right"></i>	Not able to track the card. What shall I do now?
				</a>
			  </h4>
			</div>
			<div id="collapseEight" class="panel-collapse collapse">
			  <div class="panel-body">
				While Mangotwins tries its best to ensure the cards reach the recipients well on/before time, there are times when delivery locations are not easily accessible and might take longer. Please do write back to <a title="Email" class="mailobfs"><i class="icon-envelope"></i>&nbsp;</a> mentioning your order number in case of delays.  
			  </div>
			</div>
		</div>
	</div>
</div>
