  <!-- User Stories -->
<div class="col-md-12 col-sm-12 col-xs-12">
  <h3>Testimoniols</h3>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">  
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p><span style="font-size:28px;font-family:'Amatic SC';font-weight:bold">User Stories</span><br><br>"The service made our day. It was my Mom’s Birthday and I wanted to gift her something unique and close to her heart. Just like everyone my Mom is very special to me. Explored lot of stuff on the net but mangotwins was the closest one in expressing my feelings. Used the website to create a stunning photo card. When my Mom got the card she was just amazed. She couldn’t believe that I could create such a charming this card. The card made the good past memories alive and made the occasion all the very magnificent. Thank you Mangotwins, can’t love you more !" <strong> Aakriti Arora</strong><br><br>
      “Superb experience ! If you could bring smiles onto your dear ones’ faces, thats it. You feel happy and great about it. Even I was surprised. I created a beautiful card, thanks to their easy going and user-friendly interface. When the card reached my sister, she was in for a surprise too. Not only the card was beautiful but it contained a fragrance as well. The moment she opened, cute card, lovely messages and the fragrance made the day special and joyful for her. Keep it up mangotwins, way to go !! ” <strong> Shalabh Parashar </strong><br><br>
      "Awesome cards ! If anyone is looking forward to appreciate their teams and bring some feel-good factor, this is a perfect way to go. We tied up with Mangotwins sometime back to send extremely personalised cards to our employees on different occasions. Our employees like it a lot and it has become a day to day help for us to connect well to our employees and keep them motivated. Good job, mangotwins." <strong>Alok Srivastava, CTO, Bondable</strong>
      </p>
    </div>
  </div>
</div>
  <!-- User Stories -->